In [1]:
import pandas as pd
import numpy as np

In [2]:
index = pd.MultiIndex.from_product([['mammal'], ('goat', 'human', 'cat', 'dog')], names=['Category', 'Animals'])

leg_num = pd.DataFrame(data=(4, 2, 4, 4), index=index, columns=['Legs'])

leg_num

                  Legs
Category Animals
mammal   goat        4
         human       2
         cat         4
         dog         4

In [7]:
leg_num.index.levels

FrozenList([['mammal'], ['cat', 'dog', 'goat', 'human']])

In [4]:
large_leg_num = leg_num[leg_num.Legs > 2]
large_leg_num

                  Legs
Category Animals
mammal   goat        4
         cat         4
         dog         4

In [5]:
large_leg_num.index.levels

FrozenList([['mammal'], ['cat', 'dog', 'goat', 'human']])