In [1]:
import pandas as pd

In [10]:
#Dictionary Data

d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['a', 'b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

In [20]:
#List Data

ser = pd.Series([1, 2, 3],index=['a', 'b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

In [21]:
#Tuple Data

ser = pd.Series((1, 2, 3),index=['a', 'b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

In [39]:
#Create an Date Range Index
dr = pd.date_range(start='2024-01-01',freq='ME',periods=12)

#Convert Date Range Index to Series
ser = pd.Series(dr, index=dr)
ser

2024-01-31   2024-01-31
2024-02-29   2024-02-29
2024-03-31   2024-03-31
2024-04-30   2024-04-30
2024-05-31   2024-05-31
2024-06-30   2024-06-30
2024-07-31   2024-07-31
2024-08-31   2024-08-31
2024-09-30   2024-09-30
2024-10-31   2024-10-31
2024-11-30   2024-11-30
2024-12-31   2024-12-31
Freq: ME, dtype: datetime64[ns]

In [9]:
#Create an Date Range Index
dr = pd.date_range(start='2024-01-01',freq='ME',periods=12)

#Convert Date Range Index to Series
dr.to_series()

2024-01-31   2024-01-31
2024-02-29   2024-02-29
2024-03-31   2024-03-31
2024-04-30   2024-04-30
2024-05-31   2024-05-31
2024-06-30   2024-06-30
2024-07-31   2024-07-31
2024-08-31   2024-08-31
2024-09-30   2024-09-30
2024-10-31   2024-10-31
2024-11-30   2024-11-30
2024-12-31   2024-12-31
Freq: ME, dtype: datetime64[ns]

In [37]:
dates = pd.Series(pd.date_range("2017-12-30", periods=10))
dates.apply(lambda x :x.strftime('%B %d, %Y, %r') )
dates

0   2017-12-30
1   2017-12-31
2   2018-01-01
3   2018-01-02
4   2018-01-03
5   2018-01-04
6   2018-01-05
7   2018-01-06
8   2018-01-07
9   2018-01-08
dtype: datetime64[ns]