In [386]:
import pandas as pd
import numpy as np
import datetime

In [713]:
dfg = pd.DataFrame(list("aaabba"), columns=["A"])
dfg

   A
0  a
1  a
2  a
3  b
4  b
5  a

In [720]:
dfg.groupby("A").groups

{'a': [0, 1, 2, 5], 'b': [3, 4]}

In [715]:
dfg.groupby("A").ngroup(ascending=False)

0    1
1    1
2    1
3    0
4    0
5    1
dtype: int64