In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(
    {'float': [1.0],
    'int': [1],
    'datetime': [pd.Timestamp('20180310')],
    'string': ['foo']
    })

df

   float  int   datetime string
0    1.0    1 2018-03-10    foo

In [4]:
df.dtypes

float              float64
int                  int64
datetime    datetime64[ns]
string              object
dtype: object