In [2]:
import pandas as pd
import numpy as np

In [45]:
df = pd.DataFrame({'a': [1, 2] * 3,
                   'b': [True, False] * 3,
                   'c': [1.0, 2.0] * 3})
df

   a      b    c
0  1   True  1.0
1  2  False  2.0
2  1   True  1.0
3  2  False  2.0
4  1   True  1.0
5  2  False  2.0

In [49]:
df.dtypes

a      int64
b       bool
c    float64
dtype: object

In [47]:
df.select_dtypes(include='bool')

       b
0   True
1  False
2   True
3  False
4   True
5  False

In [51]:
df.select_dtypes(include=['float64'])

     c
0  1.0
1  2.0
2  1.0
3  2.0
4  1.0
5  2.0

In [53]:
df.select_dtypes(exclude=['int64'])

       b    c
0   True  1.0
1  False  2.0
2   True  1.0
3  False  2.0
4   True  1.0
5  False  2.0