In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.DataFrame([
    [0, 1, -2, -1],
    [1, 1, 1, 1]
])
df

   0  1  2  3
0  0  1 -2 -1
1  1  1  1  1

In [18]:
s = pd.Series([1, 1, 2, 1])
s

0    1
1    1
2    2
3    1
dtype: int64

In [4]:
#Multiply df and s
df.dot(s)

0   -4
1    5
dtype: int64

In [5]:
other = pd.DataFrame([[0, 1], [1, 2], [-1, -1], [2, 0]])
other

   0  1
0  0  1
1  1  2
2 -1 -1
3  2  0

In [6]:
df.dot(other)

   0  1
0  1  4
1  2  2

In [7]:
df @ other

   0  1
0  1  4
1  2  2

In [8]:
arr = np.array([[0, 1], [1, 2], [-1, -1], [2, 0]])
arr

array([[ 0,  1],
       [ 1,  2],
       [-1, -1],
       [ 2,  0]])

In [11]:
#The dot method works also if other is an np.array.
df.dot(arr)

   0  1
0  1  4
1  2  2

In [27]:
s2 = s.reindex([1, 0, 2, 3])
s2

1    1
0    1
2    2
3    1
dtype: int64

In [26]:
df.dot(s2)

0   -4
1    5
dtype: int64