In [1]:
import pandas as pd
import numpy as np

In [ ]:
DataFrame.round(decimals=0, *args, **kwargs)

In [2]:
df = pd.DataFrame([(.21, .32), (.01, .67), (.66, .03), (.21, .18)],
                  columns=['dogs', 'cats'])
df

   dogs  cats
0  0.21  0.32
1  0.01  0.67
2  0.66  0.03
3  0.21  0.18

In [3]:
df.round(1)

   dogs  cats
0   0.2   0.3
1   0.0   0.7
2   0.7   0.0
3   0.2   0.2

In [4]:
df.round({'dogs': 1, 'cats': 0})

   dogs  cats
0   0.2   0.0
1   0.0   1.0
2   0.7   0.0
3   0.2   0.0

In [9]:
decimals = pd.Series([0, 1], index=['cats', 'dogs'])
decimals

cats    0
dogs    1
dtype: int64

In [10]:
df.round(decimals)

   dogs  cats
0   0.2   0.0
1   0.0   1.0
2   0.7   0.0
3   0.2   0.0