In [2]:
import pandas as pd
import numpy as np

In [ ]:
DataFrame.ffill(axis=None, inplace=False, limit=None, limit_area=None, downcast=<no_default>)

axis : {0 or ‘index’} for Series, {0 or ‘index’, 1 or ‘columns’} for DataFrame

In [3]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=list("ABCD"))
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [4]:
df.ffill()

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  3.0  4.0 NaN  1.0
3  3.0  3.0 NaN  4.0

In [5]:
ser = pd.Series([1, np.nan, 2, 3])
ser

0    1.0
1    NaN
2    2.0
3    3.0
dtype: float64

In [6]:
ser.ffill()

0    1.0
1    1.0
2    2.0
3    3.0
dtype: float64