In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
df

   col1  col2
0     1     3
1     2     4

In [3]:
df.shape

(2, 2)

In [4]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4],
                   'col3': [5, 6]})
df

   col1  col2  col3
0     1     3     5
1     2     4     6

In [5]:
df.shape

(2, 3)