In [1]:
import pandas as pd
import numpy as np

In [6]:
df_empty = pd.DataFrame(
    {'A' : []}
)

df_empty

Empty DataFrame
Columns: [A]
Index: []

In [4]:
df_empty.empty

True

In [7]:
df = pd.DataFrame(
    {'A' : [np.nan]}
)
df

    A
0 NaN

In [8]:
df.empty

False

In [9]:
df.dropna().empty

True

In [10]:
ser_empty = pd.Series({'A' : [] })
ser_empty

A    []
dtype: object

In [11]:
ser_empty.empty

False

In [12]:
ser_empty = pd.Series()
ser_empty

Series([], dtype: object)

In [13]:
ser_empty.empty

True