In [13]:
import pandas as pd
import numpy as np

In [18]:
df = pd.DataFrame({"A": ["a", 1, 2, 3]})
df

   A
0  a
1  1
2  2
3  3

In [19]:
df_new = df.iloc[1:]
df_new

   A
1  1
2  2
3  3

In [20]:
df_new.dtypes

A    object
dtype: object

In [21]:
df_new.infer_objects().dtypes

A    int64
dtype: object