In [1]:
import pandas as pd
import numpy as np

In [60]:
df = pd.DataFrame(
    [[0, 2, 3],
     [0, 4, 1], 
     [10, 20, 30]],
    index=[4, 5, 6], columns=['A', 'B', 'C'])
df

    A   B   C
4   0   2   3
5   0   4   1
6  10  20  30

In [ ]:
#Access a single value for a row/column label pair.

In [61]:
df.at[4, 'B']

np.int64(2)

In [64]:
df.loc[5].at['B']

np.int64(4)

In [65]:
df.at[4, 'A'] = 100
df.at[4, 'B'] = 101
df.at[4, 'C'] = 102
df

     A    B    C
4  100  101  102
5    0    4    1
6   10   20   30