In [2]:
import pandas as pd
import numpy as np

In [9]:
d = {
     'num_legs': [4, 4, 2, 2],
     'num_wings': [0, 0, 2, 2],
     'class': ['mammal', 'mammal', 'mammal', 'bird'],
     'animal': ['cat', 'dog', 'bat', 'penguin'],
     'locomotion': ['walks', 'walks', 'flies', 'walks']
}

df = pd.DataFrame(data=d)
df

   num_legs  num_wings   class   animal locomotion
0         4          0  mammal      cat      walks
1         4          0  mammal      dog      walks
2         2          2  mammal      bat      flies
3         2          2    bird  penguin      walks

In [10]:
df = df.set_index(['class', 'animal', 'locomotion'])
df

                           num_legs  num_wings
class  animal  locomotion
mammal cat     walks              4          0
       dog     walks              4          0
       bat     flies              2          2
bird   penguin walks              2          2

## DataFrame.xs(key, axis=0, level=None, drop_level=True)

In [37]:
df.xs('mammal')

                   num_legs  num_wings
animal locomotion
cat    walks              4          0
dog    walks              4          0
bat    flies              2          2

In [39]:
df.xs(('mammal', 'dog', 'walks'))

num_legs     4
num_wings    0
Name: (mammal, dog, walks), dtype: int64

In [40]:
df.xs('cat', level=1)

                   num_legs  num_wings
class  locomotion
mammal walks              4          0

In [53]:
#All are same
df.xs(('bird', 'walks'),level=[0, 2])
df.xs(('bird', 'walks'),level=[0, 'locomotion'])
df.xs(('bird', 'walks'),level=['class', 2])
df.xs(('bird', 'walks'),level=['class', 'locomotion'])

         num_legs  num_wings
animal
penguin         2          2

In [42]:
df.xs('num_wings', axis=1)

class   animal   locomotion
mammal  cat      walks         0
        dog      walks         0
        bat      flies         2
bird    penguin  walks         2
Name: num_wings, dtype: int64