In [2]:
import pandas as pd
import numpy as np

In [ ]:
pandas.DataFrame.count
DataFrame.count(axis=0, numeric_only=False)[source]

Count non-NA cells for each column or row.
The values None, NaN, NaT, pandas.NA are considered NA.

In [14]:
df = pd.DataFrame({"Person":
                   ["John", "Myla", "Lewis", "John", "Myla"],
                   "Age": [24., np.nan, 21., 33, 26],
                   "Single": [False, True, True, True, False]})
df

  Person   Age  Single
0   John  24.0   False
1   Myla   NaN    True
2  Lewis  21.0    True
3   John  33.0    True
4   Myla  26.0   False

In [8]:
df.count()

Person    5
Age       4
Single    5
dtype: int64

In [9]:
df.count(axis='columns')

0    3
1    2
2    3
3    3
4    3
dtype: int64