In [2]:
import pandas as pd
import numpy as np

In [ ]:
DataFrame.mean(axis=0, skipna=True, numeric_only=False, **kwargs)[source]

Return the mean of the values over the requested axis.


axis      : {index (0), columns (1)}
            Axis for the function to be applied on.
            For Series this parameter is unused and defaults to 0.
            For DataFrames, specifying axis=None will apply the aggregation across both axes.


skipna    : bool, default True
            Exclude NA/null values when computing the result.

numeric_only:  bool, default False
             Include only float, int, boolean columns. Not implemented for Series.

**kwargs
Additional keyword arguments to be passed to the function.

In [5]:
s = pd.Series([1, 2, 3])
s.mean()

2.0

In [47]:
df = pd.DataFrame({'a': [1, 2], 'b': [2, 3]}, index=['tiger', 'zebra'])
df

df.mean()
df.mean(axis=1)

a    1.5
b    2.5
dtype: float64

In [45]:
df = pd.DataFrame({'a': [1, 2], 'b': ['T', 'Z']},index=['tiger', 'zebra'])
df
df.mean(numeric_only=True)

       a  b
tiger  1  T
zebra  2  Z