In [2]:
import pandas as pd
import numpy as np

In [ ]:
pandas.DataFrame.nunique
DataFrame.nunique(axis=0, dropna=True)[source]
Count number of distinct elements in specified axis.
Return Series with number of distinct elements. Can ignore NaN values.

axis : {0 or ‘index’, 1 or ‘columns’}, default 0
       The axis to use. 0 or ‘index’ for row-wise, 1 or ‘columns’ for column-wise.

dropna : bool, default True
         Don’t include NaN in the counts.

In [3]:
df = pd.DataFrame({'A': [4, 5, 6], 'B': [4, 1, 1]})
df

   A  B
0  4  4
1  5  1
2  6  1

In [4]:
df.nunique()

A    3
B    2
dtype: int64