In [6]:
import pandas as pd
import numpy as np

In [ ]:
pandas.DataFrame.value_counts

DataFrame.value_counts(subset=None, normalize=False, sort=True, ascending=False, dropna=True)

Return a Series containing the frequency of each distinct row in the Dataframe.

subset : label or list of labels, optional
         Columns to use when counting unique combinations.

normalize: bool, default False
           Return proportions rather than frequencies.

sort  : bool, default True
        Sort by frequencies when True. Sort by DataFrame column values when False.

ascending :bool, default False
           Sort in ascending order.

dropna : bool, default True
          Donâ€™t include counts of rows that contain NA values.

In [99]:
df = pd.DataFrame({'num_legs': [2, 4, 4, 6],
                   'num_wings': [2, 0, 0, 0]},
                  index=['falcon', 'dog', 'cat', 'ant'])
df

        num_legs  num_wings
falcon         2          2
dog            4          0
cat            4          0
ant            6          0

In [100]:
df.value_counts()

num_legs  num_wings
4         0            2
2         2            1
6         0            1
Name: count, dtype: int64

In [80]:
df.value_counts(sort=False)

num_legs  num_wings
2         2            1
4         0            2
6         0            1
Name: count, dtype: int64

In [82]:
df.value_counts(ascending=True)

num_legs  num_wings
2         2            1
6         0            1
4         0            2
Name: count, dtype: int64

In [83]:
df.value_counts(normalize=True)

num_legs  num_wings
4         0            0.50
2         2            0.25
6         0            0.25
Name: proportion, dtype: float64

In [101]:
df = pd.DataFrame({'first_name': ['John', 'Anne', 'John', 'Beth'],
                   'middle_name': ['Smith', pd.NA, pd.NA, 'Louise']})
df

  first_name middle_name
0       John       Smith
1       Anne        <NA>
2       John        <NA>
3       Beth      Louise

In [108]:
df.value_counts()

first_name  middle_name
Beth        Louise         1
John        Smith          1
Name: count, dtype: int64

In [109]:
df.value_counts(dropna=False)

first_name  middle_name
Anne        NaN            1
Beth        Louise         1
John        Smith          1
            NaN            1
Name: count, dtype: int64

In [120]:
df.value_counts("first_name",sort=False)

first_name
Anne    1
Beth    1
John    2
Name: count, dtype: int64

In [96]:
# d=[(1,2,3,1,2,3,1,2,3,1,2,3),(11,12,13,11,12,13,11,12,13,11,12,13)]
# idx = pd.MultiIndex.from_arrays(d,names=('number', 'color'))

# df = pd.DataFrame({
#     'country': ['USA', 'USA', 'UAE', 'Frace','USA', 'USA', 'India', 'UAE','India', 'USA', 'UAE', 'UAE']} ,
#       index=idx)
# df
# df.value_counts(subset=['number','color'], normalize=False, sort=True, ascending=False, dropna=True)
# df.value_counts(subset=['country'],sort=True)
# df.value_counts()