In [1]:
import pandas as pd
import numpy as np

In [ ]:
pandas.DataFrame.add_prefix

DataFrame.add_prefix(prefix, axis=None)
Prefix labels with string prefix.

For Series, the row labels are prefixed.
For DataFrame, the column labels are prefixed.

Parameters:
prefix: str
       The string to add before each label.

axis  : {0 or ‘index’, 1 or ‘columns’, None}, default None
         Axis to add prefix on

In [2]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [13]:
s.add_prefix('item_')

item_0    1
item_1    2
item_2    3
item_3    4
dtype: int64

In [6]:
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [3, 4, 5, 6]})
df

   A  B
0  1  3
1  2  4
2  3  5
3  4  6

In [15]:
df.add_prefix('col_')

   col_A  col_B
0      1      3
1      2      4
2      3      5
3      4      6