In [2]:
import pandas as pd
import numpy as np

In [ ]:
pandas.DataFrame.duplicated

DataFrame.duplicated(subset=None, keep='first')

Return boolean Series denoting duplicate rows. Considering certain columns is optional.

subset:
column label or sequence of labels, optional
Only consider certain columns for identifying duplicates, by default use all of the columns.

keep: {'first', 'last', False}, default 'first'
    Determines which duplicates (if any) to mark.
    first : Mark duplicates as True except for the first occurrence.
    last : Mark duplicates as True except for the last occurrence.
    False : Mark all duplicates as True.

In [23]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum','Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 4, 3.5, 15, 5]
})
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Yum Yum   cup     4.0
3  Indomie   cup     3.5
4  Indomie  pack    15.0
5  Indomie  pack     5.0

In [24]:
df.duplicated(keep='first') #default

0    False
1     True
2     True
3    False
4    False
5    False
dtype: bool

In [28]:
df.duplicated(keep='last')

0     True
1     True
2    False
3    False
4    False
5    False
dtype: bool

In [26]:
df.duplicated(keep=False)

0     True
1     True
2     True
3    False
4    False
5    False
dtype: bool

In [29]:
df.duplicated(subset=['brand'])

0    False
1     True
2     True
3    False
4     True
5     True
dtype: bool