In [3]:
import pandas as pd
import numpy as np

In [ ]:
pandas.DataFrame.filter
DataFrame.filter(items=None, like=None, regex=None, axis=None)

items : list-like
Keep labels from axis which are in items.

like : str
Keep labels from axis for which “like in label == True”.

regex : str (regular expression)
Keep labels from axis for which re.search(regex, label) == True.

axis : {0 or ‘index’, 1 or ‘columns’, None}, default None
      The axis to filter on, expressed either as an index (int) or axis name (str). 
       By default this is the info axis, ‘columns’ for DataFrame.
       For Series this parameter is unused and defaults to None.

In [60]:
df = pd.DataFrame(np.array(([1, 2, 3], [4, 5, 6])),
                  index=['mouse', 'rabbit'],
                  columns=['one', 'two', 'three'])
df

        one  two  three
mouse     1    2      3
rabbit    4    5      6

In [61]:
# select columns by name
df.filter(items=['one', 'three'])

        one  three
mouse     1      3
rabbit    4      6

In [8]:
# select columns by regular expression
df.filter(regex='e$', axis=1)

        one  three
mouse     1      3
rabbit    4      6

In [28]:
# select rows containing 'bbi'
df.filter(like='bbi', axis=0)

        one  two  three
rabbit    4    5      6