In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({'consumption': [10.51, 103.11, 55.48],
                    'co2_emissions': [37.2, 19.66, 1712]},
                  index=['Pork', 'Wheat Products', 'Beef'])
df

                consumption  co2_emissions
Pork                  10.51          37.20
Wheat Products       103.11          19.66
Beef                  55.48        1712.00

In [6]:
df.idxmin(axis=0)

consumption                Pork
co2_emissions    Wheat Products
dtype: object

C:\Users\samsh\AppData\Local\Temp\ipykernel_35452\4005231089.py:1: FutureWarning: first is deprecated and will be removed in a future version. Please create a mask and filter using `.loc` instead
  ts.first('3D')

            A
2018-04-09  1
2018-04-11  2

In [8]:
df.idxmin(axis=1)

Pork                consumption
Wheat Products    co2_emissions
Beef                consumption
dtype: object