In [3]:
import pandas as pd
import numpy as np

In [ ]:
DataFrame.to_sql(name, con, schema=None, if_exists='fail', index=True, index_label=None, chunksize=None, dtype=None, method=None)

name:str
    Name of SQL table.

con: sqlalchemy.engine.(Engine or Connection) or sqlite3.Connection

schema : str, optional
         Specify the schema (if database flavor supports this). If None, use default schema.

if_exists: {‘fail’, ‘replace’, ‘append’}, default ‘fail’

index  : bool, default True
          Write DataFrame index as a column.
          Uses index_label as the column name in the table.
          Creates a table index for this column.

index_label:str or sequence, default None
           Column label for index column(s). 
           If None is given (default) and index is True, then the index names are used.
           A sequence should be given if the DataFrame uses MultiIndex.

chunksize: int, optional
           Specify the number of rows in each batch to be written at a time. By default, all rows will be written at once.

dtype   : dict or scalar, optional
          Specifying the datatype for columns.
          If a dictionary is used, the keys should be the column names and the values should be the SQLAlchemy types or strings for the sqlite3 legacy mode.
          If a scalar is provided, it will be applied to all columns.

method   : {None, ‘multi’, callable}, optional
            Controls the SQL insertion clause used:

None : Uses standard SQL INSERT clause (one per row).
‘multi’: Pass multiple values in a single INSERT clause.
callable with signature (pd_table, conn, keys, data_iter).

In [1]:
from sqlalchemy import create_engine
import psycopg2
engine = create_engine('postgresql://pgUser:pgpass123@localhost:5432/postgres')

In [4]:
df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
df

     name
0  User 1
1  User 2
2  User 3

In [17]:
## Add User 1,2,3
df.to_sql(name='users', con=engine, if_exists='replace')

##mine
#engine = create_engine('postgresql://pgUser:pgpass123@localhost:5432/postgres')
#india_df.to_sql('sample_table', engine, if_exists='replace')
#sql_df = pd.read_sql('sample_table', engine, index_col='Respondent')

3

In [19]:
## Add User 4, 5
with engine.begin() as connection:
    df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})
    df1.to_sql(name='users', con=connection, if_exists='append')

In [21]:
## Add User 6,7
df2 = pd.DataFrame({'name' : ['User 6', 'User 7']})
df2.to_sql(name='users', con=engine, if_exists='append')

2

In [23]:
sql_df = pd.read_sql_query('SELECT * FROM users', engine)
sql_df.head(10)

   index    name
0      0  User 1
1      1  User 2
2      2  User 3
3      0  User 4
4      1  User 5
5      0  User 6
6      1  User 7