In [1]:
import pandas as pd
import numpy as np

In [2]:
from json import loads, dumps
df = pd.DataFrame(
    [["a", "b"], ["c", "d"]],
    index=["row 1", "row 2"],
    columns=["col 1", "col 2"],
)
df

      col 1 col 2
row 1     a     b
row 2     c     d

In [ ]:
df.to_json('data/modified_records.json', orient='records')

'''
[
    {"col 1":"a","col 2":"b"},
    {"col 1":"c","col 2":"d"}
]
'''

In [ ]:
df.to_json('data/modified_records.json', orient='index')

'''
{
    "row 1":{"col 1":"a","col 2":"b"},
    "row 2":{"col 1":"c","col 2":"d"}
}
'''

In [ ]:
df.to_json('data/modified_records.json', orient='columns')

'''
{
    "col 1":{"row 1":"a","row 2":"c"},
    "col 2":{"row 1":"b","row 2":"d"}
}
'''

In [ ]:
df.to_json('data/modified_records.json', orient='values')

'''
[
    ["a","b"],
    ["c","d"]
]
'''

In [ ]:
df.to_json('data/modified_records.json', orient='table')

'''
{
  "schema": {
    "fields": [
      {
        "name": "index",
        "type": "string"
      },
      {
        "name": "col 1",
        "type": "string"
      },
      {
        "name": "col 2",
        "type": "string"
      }
    ],
    "primaryKey": [
      "index"
    ],
    "pandas_version": "1.4.0"
  },
  "data": [
    {
      "index": "row 1",
      "col 1": "a",
      "col 2": "b"
    },
    {
      "index": "row 2",
      "col 1": "c",
      "col 2": "d"
    }
  ]
}
'''