In [2]:
import pandas as pd
import numpy as np

In [ ]:
pandas.Index.value_counts

Index.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)

Return a Series containing counts of unique values.

The resulting object will be in descending order so that the first element is the most frequently-occurring element. Excludes NA values by default.

normalize : bool, default False
If True then the object returned will contain the relative frequencies of the unique values.

sort :bool, default True
Sort by frequencies when True. Preserve the order of the data when False.

ascending : bool, default False
Sort in ascending order.

bins : int, optional
Rather than count values, group them into half-open bins, a convenience for pd.cut, only works with numeric data.

dropna : bool, default True
Donâ€™t include counts of NaN.

In [7]:
index = pd.Index([3, 1, 2, 3, 4, np.nan])
index.value_counts()

3.0    2
1.0    1
2.0    1
4.0    1
Name: count, dtype: int64

In [8]:
s = pd.Series([3, 1, 2, 3, 4, np.nan])
s.value_counts(normalize=True)

3.0    0.4
1.0    0.2
2.0    0.2
4.0    0.2
Name: proportion, dtype: float64

In [5]:
s.value_counts(bins=3)

(0.996, 2.0]    2
(2.0, 3.0]      2
(3.0, 4.0]      1
Name: count, dtype: int64

In [6]:
s.value_counts(dropna=False)

3.0    2
1.0    1
2.0    1
4.0    1
NaN    1
Name: count, dtype: int64