In [2]:
import pandas as pd
import numpy as np

In [ ]:
pandas.Index.to_frame

Index.to_frame(index=True, name=<no_default>)

Create a DataFrame with a column containing the Index.

index : bool, default True
Set the index of the returned DataFrame as the original Index.

name
object, defaults to index.name
The passed name should substitute for the index name (if it has one).

In [3]:
idx = pd.Index(['Ant', 'Bear', 'Cow'], name='animal')
idx

Index(['Ant', 'Bear', 'Cow'], dtype='object', name='animal')

In [7]:
idx.to_frame()

       animal
animal
Ant       Ant
Bear     Bear
Cow       Cow

In [8]:
idx.to_frame(index=False)

  animal
0    Ant
1   Bear
2    Cow

In [9]:
idx.to_frame(index=False, name='zoo')

    zoo
0   Ant
1  Bear
2   Cow