In [2]:
import pandas as pd
import numpy as np

In [ ]:
pandas.IndexSlice
pandas.IndexSlice = <pandas.core.indexing._IndexSlice object>
Create an object to more easily perform multi-index slicing.

In [3]:
midx = pd.MultiIndex.from_product([['A0','A1'], ['B0','B1','B2','B3']])

columns = ['foo', 'bar']

dfmi = pd.DataFrame(np.arange(16).reshape((len(midx), len(columns))), index=midx, columns=columns)

dfmi

       foo  bar
A0 B0    0    1
   B1    2    3
   B2    4    5
   B3    6    7
A1 B0    8    9
   B1   10   11
   B2   12   13
   B3   14   15

In [4]:
dfmi.loc[(slice(None), slice('B0', 'B1')), :]

       foo  bar
A0 B0    0    1
   B1    2    3
A1 B0    8    9
   B1   10   11

In [5]:
idx = pd.IndexSlice
dfmi.loc[idx[:, 'B0':'B1'], :]

       foo  bar
A0 B0    0    1
   B1    2    3
A1 B0    8    9
   B1   10   11