In [3]:
import pandas as pd
import numpy as np
from datetime import datetime

In [ ]:
class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)

In [4]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [5]:
df = pd.DataFrame(data=d, dtype=np.int8)
df.dtypes

col1    int8
col2    int8
dtype: object

In [6]:
d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
pd.DataFrame(data=d, index=[0, 1, 2, 3])

   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

In [7]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),columns=['a', 'b', 'c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [12]:
data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
df3 = pd.DataFrame(data)
df3 = pd.DataFrame(data, columns=['c', 'a'])
df3

   c  a
0  3  1
1  6  4
2  9  7

In [20]:
df1 = pd.DataFrame([1, 2, 3], index=["a", "b", "c"], columns=["x"])
df1

df2 = pd.DataFrame(data=df1, index=["a", "c"])
df2

   x
a  1
c  3