In [1]:
import pandas as pd
import numpy as np

In [ ]:
DataFrame.var(axis=0, skipna=True, ddof=1, numeric_only=False, **kwargs)

axis :  {index (0), columns (1)}
skipna: bool, default True
ddof: int, default 1
numeric_only: bool, default False

In [2]:
df = pd.DataFrame({'person_id': [0, 1, 2, 3],
                   'age': [21, 25, 62, 43],
                   'height': [1.61, 1.87, 1.49, 2.01]}
                  ).set_index('person_id')
df

           age  height
person_id
0           21    1.61
1           25    1.87
2           62    1.49
3           43    2.01

In [3]:
df.var()

age       352.916667
height      0.056367
dtype: float64