In [1]:
import pandas as pd
import numpy as np

In [ ]:
DataFrame.align(
    other, 
    join='outer', 
    axis=None, 
    level=None, 
    copy=None, 
    fill_value=None, 
    method=<no_default>, 
    limit=<no_default>, 
    fill_axis=<no_default>,
    broadcast_axis=<no_default>
)

other  : DataFrame or Series

join   : {‘outer’, ‘inner’, ‘left’, ‘right’}, default ‘outer’
         Type of alignment to be performed.
         left: use only keys from left frame, preserve key order.
         right: use only keys from right frame, preserve key order.
         outer: use union of keys from both frames, sort keys lexicographically.
        inner: use intersection of keys from both frames, preserve the order of the left keys.

axis: allowed axis of the other object, default None
        Align on 
          index (0),
         columns (1),
          or both (None).

level : int or level name, default None
Broadcast across a level, matching Index values on the passed MultiIndex level.

copy : bool, default True
       Always returns new objects. If copy=False and no reindexing is required then original objects are returned.

In [75]:
df = pd.DataFrame(
    [[1, 2, 3, 4], [6, 7, 8, 9]], columns=["D", "B", "E", "A"], index=[1, 2]
)
other = pd.DataFrame(
    [[10, 20, 30, 40], [60, 70, 80, 90], [600, 700, 800, 900]],
    columns=["A", "B", "C", "D"],
    index=[2, 3, 4],
)
df

   D  B  E  A
1  1  2  3  4
2  6  7  8  9

In [76]:
other

     A    B    C    D
2   10   20   30   40
3   60   70   80   90
4  600  700  800  900

In [79]:
# join based on column level
left, right = df.align(other, join="outer", axis=1)
left

#join based on row level. Index to Index join
left, right = df.align(other, join="outer", axis=0)
left

#Align based on both rows and columns
left, right = df.align(other, join="outer", axis=None)
left

(   D  B  A
 1  1  2  4
 2  6  7  9,
      D    B    A
 2   40   20   10
 3   90   70   60
 4  900  700  600)

In [82]:
left, right = df.align(other, join="outer", axis=None)
left

     A    B   C    D    E
1  4.0  2.0 NaN  1.0  3.0
2  9.0  7.0 NaN  6.0  8.0
3  NaN  NaN NaN  NaN  NaN
4  NaN  NaN NaN  NaN  NaN

In [83]:
right

       A      B      C      D   E
1    NaN    NaN    NaN    NaN NaN
2   10.0   20.0   30.0   40.0 NaN
3   60.0   70.0   80.0   90.0 NaN
4  600.0  700.0  800.0  900.0 NaN