In [2]:
import pandas as pd
import numpy as np

In [4]:
i = pd.date_range('2018-04-09', periods=4, freq='12h')
ts = pd.DataFrame({'A': [1, 2, 3, 4]}, index=i)
ts

                     A
2018-04-09 00:00:00  1
2018-04-09 12:00:00  2
2018-04-10 00:00:00  3
2018-04-10 12:00:00  4

In [6]:
ts.at_time('12:00')

                     A
2018-04-09 12:00:00  2
2018-04-10 12:00:00  4

In [ ]:
DataFrame.between_time(start_time, end_time, inclusive='both', axis=None)

In [8]:
i = pd.date_range('2018-04-09', periods=4, freq='1D20min')
ts = pd.DataFrame({'A': [1, 2, 3, 4]}, index=i)
ts

                     A
2018-04-09 00:00:00  1
2018-04-10 00:20:00  2
2018-04-11 00:40:00  3
2018-04-12 01:00:00  4

In [24]:
ts.between_time('0:00', '0:20', inclusive='both')

                     A
2018-04-09 00:00:00  1
2018-04-10 00:20:00  2