In [2]:
import pandas as pd
import numpy as np

In [ ]:
pandas.DataFrame.drop_duplicates

DataFrame.drop_duplicates(subset=None, *, keep='first', inplace=False, ignore_index=False)

Return DataFrame with duplicate rows removed.

Considering certain columns is optional. Indexes, including time indexes are ignored.

Parameters:
    subset : column label or sequence of labels, optional
    Only consider certain columns for identifying duplicates, by default use all of the columns.
    keep : {'first', 'last', False}, default 'first'
    Determines which duplicates (if any) to keep.
    'first' : Drop duplicates except for the first occurrence.
    'last' : Drop duplicates except for the last occurrence.
    False : Drop all duplicates.

inplace : bool, default False
          Whether to modify the DataFrame rather than creating a new one.

ignore_index : bool, default False
            If True, the resulting axis will be labeled 0, 1, â€¦, n - 1.

In [3]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [10]:
df.drop_duplicates()

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [11]:
df.drop_duplicates(subset=['brand'])

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5

In [12]:
df.drop_duplicates(subset=['brand', 'style'], keep='last')

     brand style  rating
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
4  Indomie  pack     5.0