In [1]:
import pandas as pd
import numpy as np

In [ ]:
pandas.DataFrame.last
DataFrame.last(offset)
Select final periods of time series data based on a date offset.

In [2]:
i = pd.date_range('2018-04-09', periods=4, freq='2D')
ts = pd.DataFrame({'A': [1, 2, 3, 4]}, index=i)
ts

            A
2018-04-09  1
2018-04-11  2
2018-04-13  3
2018-04-15  4

In [3]:
ts.last('3D')

C:\Users\samsh\AppData\Local\Temp\ipykernel_36744\2930665333.py:1: FutureWarning: last is deprecated and will be removed in a future version. Please create a mask and filter using `.loc` instead
  ts.last('3D')

            A
2018-04-13  3
2018-04-15  4