In [1]:
import pandas as pd
import numpy as np

In [ ]:
pandas.DataFrame.bfill
DataFrame.bfill(*, axis=None, inplace=False, limit=None, limit_area=None, downcast=<no_default>)

axis : {0 or ‘index’} for Series, {0 or ‘index’, 1 or ‘columns’} for DataFrame
    Axis along which to fill missing values. For Series this parameter is unused and defaults to 0.

inplace:bool, default False
If True, fill in-place. Note: this will modify any other views on this object (e.g., a no-copy slice for a column in a DataFrame).

limit :int, default None
If method is specified, this is the maximum number of consecutive NaN values to forward/backward fill. In other words, if there is a gap with more than this number of consecutive NaNs, it will only be partially filled. If method is not specified, this is the maximum number of entries along the entire axis where NaNs will be filled. Must be greater than 0 if not None.

limit_area: {None, ‘inside’, ‘outside’}, default None
If limit is specified, consecutive NaNs will be filled with this restriction.

None: No fill restriction.

‘inside’: Only fill NaNs surrounded by valid values (interpolate).

‘outside’: Only fill NaNs outside valid values (extrapolate).

downcast:
dict, default is None
A dict of item->dtype of what to downcast if possible, or the string ‘infer’ which will try to downcast to an appropriate equal type (e.g. float64 to int64 if possible).

In [2]:
s = pd.Series([1, None, None, 2])
s

0    1.0
1    NaN
2    NaN
3    2.0
dtype: float64

In [3]:
s.bfill()

0    1.0
1    2.0
2    2.0
3    2.0
dtype: float64

In [11]:
df = pd.DataFrame({'A': [1, None, None,None,None,None ,4], 'B': [None, 5, None,None,None,None, 7]})
df

     A    B
0  1.0  NaN
1  NaN  5.0
2  NaN  NaN
3  NaN  NaN
4  NaN  NaN
5  NaN  NaN
6  4.0  7.0

In [5]:
df.bfill()

     A    B
0  1.0  5.0
1  4.0  5.0
2  4.0  7.0
3  4.0  7.0

In [14]:
df.bfill(limit=4)

     A    B
0  1.0  5.0
1  NaN  5.0
2  4.0  7.0
3  4.0  7.0
4  4.0  7.0
5  4.0  7.0
6  4.0  7.0

In [52]:
df = pd.DataFrame([
    [1, np.nan , np.nan, np.nan, np.nan,5],
    [4, np.nan , np.nan, np.nan, np.nan,1]]
                  ,index=['r1','r2'] ,
                  columns=['C1','C2','C3','C4','C5','C6'])
df

    C1  C2  C3  C4  C5  C6
r1   1 NaN NaN NaN NaN   5
r2   4 NaN NaN NaN NaN   1

In [53]:
df.ffill(axis=1, limit = 2)

     C1   C2   C3  C4  C5   C6
r1  1.0  1.0  1.0 NaN NaN  5.0
r2  4.0  4.0  4.0 NaN NaN  1.0

In [54]:
df.bfill(axis=1, limit = 2)

     C1  C2  C3   C4   C5   C6
r1  1.0 NaN NaN  5.0  5.0  5.0
r2  4.0 NaN NaN  1.0  1.0  1.0