In [2]:
import pandas as pd

In [ ]:
pandas.DataFrame.merge

DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=None, indicator=False, validate=None)[source]

right       : DataFrame or named Series
              Object to merge with.

how          : 
            { 'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
              Type of merge to be performed.

              left : use only keys from left frame, similar to a SQL left outer join; preserve key order.
              right: use only keys from right frame, similar to a SQL right outer join; preserve key order.
              outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.
              inner: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.
              cross: creates the cartesian product from both frames, preserves the order of the left keys.

on          : label or list
              Column or index level names to join on. These must be found in both DataFrames. 
              If on is None and not merging on indexes then this defaults to the intersection of the columns in both DataFrames.

left_on     : label or list, or array-like
              Column or index level names to join on in the left DataFrame.
              Can also be an array or list of arrays of the length of the left DataFrame.
              These arrays are treated as if they are columns.

right_on    : label or list, or array-like
              Column or index level names to join on in the right DataFrame.
              Can also be an array or list of arrays of the length of the right DataFrame.
              These arrays are treated as if they are columns.

left_index : bool, default False
             Use the index from the left DataFrame as the join key(s).
             If it is a MultiIndex, the number of keys in the other DataFrame (either the index or a number of columns) must match the number of levels.

right_index : bool, default False
              Use the index from the right DataFrame as the join key. Same caveats as left_index.

sort       :  bool, default False
              Sort the join keys lexicographically in the result DataFrame. If False, the order of the join keys depends on the join type (how keyword).

suffixes   :  list-like, default is ("_x", "_y")
              A length-2 sequence where each element is optionally a string indicating the suffix to add to overlapping column names in left and right respectively.
			  Pass a value of None instead of a string to indicate that the column name from left or right should be left as-is, with no suffix.
			  At least one of the values must not be None.

In [23]:
df = pd.DataFrame({'key1': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
df_1 = df.set_index('key1')

other = pd.DataFrame({'key2': ['K0', 'K1', 'K2'],'B': ['B0', 'B1', 'B2']})
other_1 = other.set_index('key2')

In [24]:
df

  key1   A
0   K0  A0
1   K1  A1
2   K2  A2
3   K3  A3
4   K4  A4
5   K5  A5

In [25]:
other

  key2   B
0   K0  B0
1   K1  B1
2   K2  B2

In [26]:
df_1

       A
key1
K0    A0
K1    A1
K2    A2
K3    A3
K4    A4
K5    A5

In [27]:
other_1

       B
key2
K0    B0
K1    B1
K2    B2

In [31]:
df_1.merge(other_1,how='left',left_index=True,right_index=True )

       A    B
key1
K0    A0   B0
K1    A1   B1
K2    A2   B2
K3    A3  NaN
K4    A4  NaN
K5    A5  NaN

In [ ]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],'value': [5, 6, 7, 8]})
df1
df2

In [ ]:
df1.merge(df2, left_on='lkey', right_on='rkey')

In [ ]:
df1.merge(df2, left_on='lkey', right_on='rkey',suffixes=('_left', '_right'))

In [ ]:
df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))

In [ ]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
df1
df2
df1.merge(df2, how='inner', on='a')
df1.merge(df2, how='left', on='a')

In [ ]:
df1 = pd.DataFrame({'left': ['foo', 'bar']})
df2 = pd.DataFrame({'right': [7, 8]})
df1
df2
df1.merge(df2, how='cross')