In [2]:
import pandas as pd
import numpy as np

In [ ]:
DataFrame.to_excel(
    excel_writer,
    sheet_name='Sheet1',
    na_rep='',
    float_format=None,
    columns=None,
    header=True,
    index=True,
    index_label=None,
    startrow=0,
    startcol=0,
    engine=None,
    merge_cells=True,
    inf_rep='inf',
    freeze_panes=None,
    storage_options=None,
    engine_kwargs=None
)

In [16]:
df1 = pd.DataFrame([['a', 'b'], ['c', 'd']],
                   index=['row 1', 'row 2'],
                   columns=['col 1', 'col 2'])
df1

      col 1 col 2
row 1     a     b
row 2     c     d

In [17]:
df1.to_excel("output.xlsx",sheet_name='Sheet_name_1')

In [18]:
df2 = df1.copy()
with pd.ExcelWriter('output.xlsx') as writer:  
    df1.to_excel(writer, sheet_name='Sheet_name_1',index_label=True, columns=['col 1'])
    df2.to_excel(writer, sheet_name='Sheet_name_2',index_label=True, columns=['col 2'])

In [19]:
with pd.ExcelWriter('output.xlsx',mode='a') as writer:  
    df1.to_excel(writer, sheet_name='Sheet_name_3')