In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame([
    [1, 2],
    [4, 5], 
    [7, 8]],
    index=['cobra', 'viper', 'sidewinder'],
    columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [3]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [5]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [27]:
df.loc['cobra', 'shield']

np.int64(2)

In [8]:
df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [9]:
df.loc[[False, False, True]]

            max_speed  shield
sidewinder          7       8

In [38]:
ser = pd.Series([False, True, False], index=['viper', 'sidewinder', 'cobra'])
ser

viper         False
sidewinder     True
cobra         False
dtype: bool

In [39]:
df.loc[ser]

            max_speed  shield
sidewinder          7       8

In [41]:
idx = pd.Index(["cobra", "viper"] , name="foo")
idx
df.loc[idx]

       max_speed  shield
foo
cobra          1       2
viper          4       5

In [18]:
filt = df['shield'] > 6
df.loc[filt]

            max_speed  shield
sidewinder          7       8

In [35]:
filt = df['shield'] > 6
filt
df.loc[ filt , ['max_speed']]

cobra         False
viper         False
sidewinder     True
Name: shield, dtype: bool

In [24]:
filt = (df['max_speed'] > 1) & (df['shield'] < 8)

df.loc[filt]

       max_speed  shield
viper          4       5

In [25]:
filt = (df['max_speed'] > 4) | (df['shield'] < 5)

df.loc[filt]

            max_speed  shield
cobra               1       2
sidewinder          7       8