In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [3]:
for x in df:
    print(x)

A
B

In [5]:
col = pd.DataFrame.__iter__(df)

In [6]:
next(col)

'A'

In [7]:
next(col)

'B'