In [2]:
import pandas as pd
import numpy as np

In [ ]:
#DataFrame.__add__(other)

In [3]:
df = pd.DataFrame(
    {'height': [1.5, 2.6], 
     'weight': [500, 800]},
    index=['elk', 'moose'])
df

       height  weight
elk       1.5     500
moose     2.6     800

In [4]:
df[['height', 'weight']] + 1.5

       height  weight
elk       3.0   501.5
moose     4.1   801.5

In [9]:
df[['height', 'weight']] + [0.5, 1.5]

       height  weight
elk       2.0   501.5
moose     3.1   801.5

In [10]:
df[['height', 'weight']] + {'height': 0.5, 'weight': 1.5}

       height  weight
elk       2.0   501.5
moose     3.1   801.5

In [11]:
s1 = pd.Series([0.5, 1.5], index=['weight', 'height'])
s1

weight    0.5
height    1.5
dtype: float64

In [14]:
df[['height', 'weight']] + s1

       height  weight
elk       3.0   500.5
moose     4.1   800.5

In [15]:
s2 = pd.Series([0.5, 1.5], index=['elk', 'moose'])
s2

elk      0.5
moose    1.5
dtype: float64

In [16]:
df[['height', 'weight']] + s2

       elk  height  moose  weight
elk    NaN     NaN    NaN     NaN
moose  NaN     NaN    NaN     NaN

In [22]:
df[['height', 'weight']].add(s2, axis='index')

       height  weight
elk       2.0   500.5
moose     4.1   801.5

In [23]:
other = pd.DataFrame(
    {'height': [0.2, 0.4, 0.6]},
    index=['elk', 'moose', 'deer'])
other

       height
elk       0.2
moose     0.4
deer      0.6

In [26]:
df[['height', 'weight']] + other

       height  weight
deer      NaN     NaN
elk       1.7     NaN
moose     3.0     NaN