In [2]:
import pandas as pd
import numpy as np

In [3]:
mi = pd.MultiIndex.from_arrays([['a', 'b'], ['c', 'd']])
mi

MultiIndex([('a', 'c'),
            ('b', 'd')],
           )

In [5]:
df = mi.to_frame()
df

     0  1
a c  a  c
b d  b  d

In [6]:
df = mi.to_frame(index=False)
df

   0  1
0  a  c
1  b  d

In [7]:
df = mi.to_frame(name=['x', 'y'])
df

     x  y
a c  a  c
b d  b  d