In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series({'a': 1, 'b': 2, 'c': 3})
s

a    1
b    2
c    3
dtype: int64

In [3]:
s.size

3

In [4]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4] , 'col3': [3, 4] })
df

   col1  col2  col3
0     1     3     3
1     2     4     4

In [5]:
df.size #rows*columns

6