In [2]:
import pandas as pd
import numpy as np

In [3]:
d = {
    'col1': [1, 2],
    'col2': [3, 4]
}
df = pd.DataFrame(data=d)

df

   col1  col2
0     1     3
1     2     4

In [4]:
df.dtypes

col1    int64
col2    int64
dtype: object

In [5]:
df.astype('int32').dtypes

col1    int32
col2    int32
dtype: object

In [6]:
df.astype({'col1': 'int32'}).dtypes

col1    int32
col2    int64
dtype: object

In [7]:
ser = pd.Series([1, 2], dtype='int32')
ser

0    1
1    2
dtype: int32

In [8]:
ser.astype('int64')

0    1
1    2
dtype: int64

In [9]:
ser.astype('category')

0    1
1    2
dtype: category
Categories (2, int32): [1, 2]

In [11]:
ser_date = pd.Series(pd.date_range('20200101', periods=3))
ser_date

0   2020-01-01
1   2020-01-02
2   2020-01-03
dtype: datetime64[ns]