In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(
    {
        'num_legs': [4, 2], 
        'num_wings': [0, 2]
    },
    index=['dog', 'hawk'])
df

      num_legs  num_wings
dog          4          0
hawk         2          2

In [4]:
for row in df.itertuples():
    print(row)

Pandas(Index='dog', num_legs=4, num_wings=0)
Pandas(Index='hawk', num_legs=2, num_wings=2)

In [6]:
for row in df.itertuples(index=False):
    print(row)

Pandas(num_legs=4, num_wings=0)
Pandas(num_legs=2, num_wings=2)

In [7]:
for row in df.itertuples(name='Animal'):
    print(row)

Animal(Index='dog', num_legs=4, num_wings=0)
Animal(Index='hawk', num_legs=2, num_wings=2)