In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(
    [
        [24.3, 75.7, "high"],
        [31, 87.8, "high"],
        [22, 71.6, "medium"],
        [35, 95, "medium"],
    ],
    columns=["temp_celsius", "temp_fahrenheit", "windspeed"],
    index=pd.date_range(start="2014-02-12", end="2014-02-15", freq="D"),
)
df

            temp_celsius  temp_fahrenheit windspeed
2014-02-12          24.3             75.7      high
2014-02-13          31.0             87.8      high
2014-02-14          22.0             71.6    medium
2014-02-15          35.0             95.0    medium

In [13]:
df.get(["temp_celsius", "windspeed"])

            temp_celsius windspeed
2014-02-12          24.3      high
2014-02-13          31.0      high
2014-02-14          22.0    medium
2014-02-15          35.0    medium

In [14]:
ser = df['windspeed']
ser

2014-02-12      high
2014-02-13      high
2014-02-14    medium
2014-02-15    medium
Freq: D, Name: windspeed, dtype: object

In [15]:
ser.get('2014-02-13')

'high'

In [12]:
ser.get(['2014-02-13','2014-02-15'])

2014-02-13      high
2014-02-15    medium
Name: windspeed, dtype: object

In [9]:
df.get(["temp_celsius", "temp_kelvin"], default="default_value")

'default_value'

In [10]:
ser.get('2014-02-10', '[unknown]')

'[unknown]'