In [1]:
import pandas as pd
import numpy as np

In [66]:
df = pd.DataFrame(
    {'angles': [0, 3, 4],
    'degrees': [360, 180, 360]},
    index=['circle', 'triangle', 'rectangle'])
df

           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360

### DataFrame.add(other, axis='columns', level=None, fill_value=None)

In [35]:
df + 1

           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

In [4]:
df.add(1)

           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

In [9]:
df.div(10) #df/10

           angles  degrees
circle        0.0     36.0
triangle      0.3     18.0
rectangle     0.4     36.0

In [10]:
df.rdiv(10)

             angles   degrees
circle          inf  0.027778
triangle   3.333333  0.055556
rectangle  2.500000  0.027778

In [14]:
df - [1, 2]

           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

In [37]:
df.sub([1, 2], axis='columns')

           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

In [87]:
ser = pd.Series([1, 1, 1], index=['circle', 'triangle', 'rectangle'])
ser
df.sub(ser,axis='index')

           angles  degrees
circle         -1      359
triangle        2      179
rectangle       3      359

In [80]:
df.sub(ser, axis='index')

           angles  degrees
circle         -1      359
triangle        2      179
rectangle       3      359

In [63]:
df.mul({'angles': 0, 'degrees': 2})

           angles  degrees
circle          0      720
triangle        0      360
rectangle       0      720

In [52]:
dict = {'circle': 0, 'triangle': 2, 'rectangle': 3}
df.mul(dict , axis='index')

           angles  degrees
circle          0        0
triangle        6      360
rectangle      12     1080

In [53]:
other = pd.DataFrame({'angles': [0, 3, 4]},
                     index=['circle', 'triangle', 'rectangle'])
other

           angles
circle          0
triangle        3
rectangle       4

In [55]:
df * other

           angles  degrees
circle          0      NaN
triangle        9      NaN
rectangle      16      NaN

In [44]:
df.mul(other, fill_value=0)

           angles  degrees
circle          0      0.0
triangle        9      0.0
rectangle      16      0.0

In [59]:
df_multindex = pd.DataFrame(
    {'angles': [0, 3, 4, 4, 5, 6],
     'degrees': [360, 180, 360, 360, 540, 720]},
      index=[['A', 'A', 'A', 'B', 'B', 'B'],['circle', 'triangle', 'rectangle','square', 'pentagon', 'hexagon']])
df_multindex

             angles  degrees
A circle          0      360
  triangle        3      180
  rectangle       4      360
B square          4      360
  pentagon        5      540
  hexagon         6      720

In [61]:
df.div(df_multindex, level=1, fill_value=0)

             angles  degrees
A circle        NaN      1.0
  triangle      1.0      1.0
  rectangle     1.0      1.0
B square        0.0      0.0
  pentagon      0.0      0.0
  hexagon       0.0      0.0