In [62]:
import pandas as pd
import numpy as np

In [63]:
#DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), by_row='compat', engine='python', engine_kwargs=None, **kwargs)

'''
func :  function

axis :  {0 or 'index', 1 or 'columns'}, default 0
         Axis along which the function is applied:
         0 or 'index': apply function to each column.
         1 or 'columns': apply function to each row.

result_type : {'expand', 'reduce', 'broadcast', None}, default None

These only act when axis=1 (columns):

'expand'    : list-like results will be turned into columns.
'reduce'    : returns a Series if possible rather than expanding list-like results. This is the opposite of 'expand'
'broadcast' : results will be broadcast to the original shape of the DataFrame, the original index and columns will be retained.

The default behaviour (None) depends on the return value of the applied function: list-like results will be returned as a Series of those. However if the apply function returns a Series these are expanded to columns.

'''

"\nfunc :  function\n\naxis :  {0 or 'index', 1 or 'columns'}, default 0\n         Axis along which the function is applied:\n         0 or 'index': apply function to each column.\n         1 or 'columns': apply function to each row.\n\nresult_type : {'expand', 'reduce', 'broadcast', None}, default None\n\nThese only act when axis=1 (columns):\n\n'expand'    : list-like results will be turned into columns.\n'reduce'    : returns a Series if possible rather than expanding list-like results. This is the opposite of 'expand'\n'broadcast' : results will be broadcast to the original shape of the DataFrame, the original index and columns will be retained.\n\nThe default behaviour (None) depends on the return value of the applied function: list-like results will be returned as a Series of those. However if the apply function returns a Series these are expanded to columns.\n\n"

In [75]:
df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
df

   A  B
0  4  9
1  4  9
2  4  9

In [16]:
df.apply(np.sqrt)

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

In [83]:
df.apply(np.sum, axis=0)

A    12
B    27
dtype: int64

In [67]:
df.apply(np.sum, axis=1)

0    13
1    13
2    13
dtype: int64

In [77]:
df.apply(lambda x: [1, 2], axis=1)

0    [1, 2]
1    [1, 2]
2    [1, 2]
dtype: object

In [22]:
df.apply(lambda x: [1, 2], axis=1, result_type='expand')

   0  1
0  1  2
1  1  2
2  1  2

In [23]:
df.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)

   foo  bar
0    1    2
1    1    2
2    1    2

In [24]:
df.apply(lambda x: [1, 2], axis=1, result_type='broadcast')

   A  B
0  1  2
1  1  2
2  1  2

In [28]:
df = pd.DataFrame([['sss', 'ddd']] * 3, columns=['A', 'B'])
df['A'].apply(len)

0    3
1    3
2    3
Name: A, dtype: int64