In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[1, 2.12], [3.356, 4.567]])
df

       0      1
0  1.000  2.120
1  3.356  4.567

In [3]:
df.map(lambda x: len(str(x)))

   0  1
0  3  4
1  5  5