In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.Series([False, False]).any()       #False
pd.Series([True, False]).any()        #True
pd.Series([], dtype="float64").any()  #False
pd.Series([np.nan]).any()             #False
pd.Series([np.nan]).any(skipna=False) #True

np.False_

In [10]:
df = pd.DataFrame({"A": [1, 2], "B": [0, 2], "C": [0, 0]})
df

   A  B  C
0  1  0  0
1  2  2  0

In [11]:
df.any()

A     True
B     True
C    False
dtype: bool

In [12]:
df = pd.DataFrame({"A": [True, False], "B": [1, 2]})
df

       A  B
0   True  1
1  False  2

In [14]:
df.any(axis='columns')

0    True
1    True
dtype: bool

In [15]:
df = pd.DataFrame({"A": [True, False], "B": [1, 0]})
df

       A  B
0   True  1
1  False  0

In [16]:
df.any(axis='columns')

0     True
1    False
dtype: bool

In [17]:
df.any(axis=None)

np.True_

In [19]:
pd.DataFrame([]).any()

Series([], dtype: bool)