In [3]:
import pandas as pd
import numpy as np

In [ ]:
DataFrame.corr(method='pearson', min_periods=1, numeric_only=False)
Compute pairwise correlation of columns, excluding NA/null values.

In [22]:
def histogram_intersection(a, b):
    v = np.minimum(a, b).sum().round(decimals=1)
    return v

In [23]:
df = pd.DataFrame([(.2, .3), (.0, .6), (.6, .0), (.2, .1)],
                  columns=['dogs', 'cats'])
df

   dogs  cats
0   0.2   0.3
1   0.0   0.6
2   0.6   0.0
3   0.2   0.1

In [24]:
df.corr(method=histogram_intersection)

      dogs  cats
dogs   1.0   0.3
cats   0.3   1.0