In [1]:
people = {
"first": ["Corey", 'Jane', 'John'],
"last": ["Schafer", 'Doe', 'Doe'],
"email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}
import pandas as pd
df = pd.DataFrame(people)

In [2]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [21]:
 filt = (df['last']  == 'Doe')

In [17]:
df [filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [22]:
df.loc[filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [23]:
 filt = (df['last']  == 'Doe') & (df['first']  == 'John')

In [24]:
df.loc[filt, 'email']

2    JohnDoe@email.com
Name: email, dtype: object

In [25]:
 filt = (df['last']  == 'Schafer') | (df['first']  == 'John')

In [26]:
df.loc[filt, 'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [27]:
df.loc[~filt, 'email']

1    JaneDoe@email.com
Name: email, dtype: object