In [132]:
import pandas as pd
import numpy as np

people = {
"first": ["Corey", 'Jane', 'John'],
"last": ["Schafer", 'Doe', 'Doe'],
"email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}
df1 = pd.DataFrame(people)
df1

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [138]:
people = {
"first": ['John',"Samsheer", 'Inaya'],
"last": ['Doe',"Parambil", 'Samsheer'],
"email": ["JohnDoe@email.com","SamsheerParambil@gmail.com", 'InayaSamsheer@email.com']
}
df2 = pd.DataFrame(people)
df2

      first      last                       email
0      John       Doe           JohnDoe@email.com
1  Samsheer  Parambil  SamsheerParambil@gmail.com
2     Inaya  Samsheer     InayaSamsheer@email.com

In [145]:
merged = pd.concat([df1, df2], axis=0, ignore_index=True, sort=False).drop_duplicates()
merged.reset_index(drop=True, inplace=True)
merged

      first      last                       email
0     Corey   Schafer     CoreyMSchafer@gmail.com
1      Jane       Doe           JaneDoe@email.com
2      John       Doe           JohnDoe@email.com
3  Samsheer  Parambil  SamsheerParambil@gmail.com
4     Inaya  Samsheer     InayaSamsheer@email.com