In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
    {
     'A': [1, 2],
     'B': [3, 4]
    })
df

   A  B
0  1  3
1  2  4

In [3]:
df.columns

Index(['A', 'B'], dtype='object')