In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'age':    [ 3,  29],
                   'height': [94, 170],
                   'weight': [31, 115]})
df

   age  height  weight
0    3      94      31
1   29     170     115

In [4]:
df.dtypes

age       int64
height    int64
weight    int64
dtype: object

In [5]:
df.values

array([[  3,  94,  31],
       [ 29, 170, 115]])

In [6]:
df2 = pd.DataFrame([('parrot',   24.0, 'second'),
                    ('lion',     80.5, 1),
                    ('monkey', np.nan, None)],
                  columns=('name', 'max_speed', 'rank'))
df2

     name  max_speed    rank
0  parrot       24.0  second
1    lion       80.5       1
2  monkey        NaN    None

In [7]:
df2.dtypes

name          object
max_speed    float64
rank          object
dtype: object

In [8]:
df2.values

array([['parrot', 24.0, 'second'],
       ['lion', 80.5, 1],
       ['monkey', nan, None]], dtype=object)