In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(
    {'col1': [1, 2, 3, 4, 5],
     'col2': [6, 7, 8, 9, 10]
    }
)
df

   col1  col2
0     1     6
1     2     7
2     3     8
3     4     9
4     5    10

In [13]:
df.axes

[RangeIndex(start=0, stop=5, step=1), Index(['col1', 'col2'], dtype='object')]

### df.axes[0]
##### O/P -> RangeIndex(start=0, stop=5, step=1)
##### this is mentioned as below
##### axis='rows'
##### axis='index'
##### axis=0


### df.axes[1] 
##### O/P -> Index(['col1', 'col2'], dtype='object')
##### this is mentioned as below
##### axis='columns'
##### axis=1