In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({"A": [1, 2]})
df

   A
0  1
1  2

In [4]:
df.flags.allows_duplicate_labels

True

In [5]:
df2 = df.set_flags(allows_duplicate_labels=False)
df2

   A
0  1
1  2

In [6]:
df2.flags.allows_duplicate_labels

False