In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
    {'animal': ['alligator', 'bee', 'falcon', 'lion','monkey', 'parrot', 'shark', 'whale', 'zebra']
    }
)
df

      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey
5     parrot
6      shark
7      whale
8      zebra

In [4]:
#Viewing the first 5 lines
df.head()

      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey

In [5]:
df.head(3)

      animal
0  alligator
1        bee
2     falcon

In [6]:
df.head(-3)

      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey
5     parrot