In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([
    [0, 2, 3],
    [0, 4, 1],
    [10, 20, 30]],
    columns=['A', 'B', 'C'])
df

    A   B   C
0   0   2   3
1   0   4   1
2  10  20  30

In [3]:
df.iat[1, 2]

np.int64(1)

In [4]:
df.iat[1, 2] = 10
df

    A   B   C
0   0   2   3
1   0   4  10
2  10  20  30

In [5]:
df.loc[0].iat[1]

np.int64(2)