In [1]:
import pandas as pd
import numpy as np

In [2]:
mydict = [
    {'a': 1, 'b': 2, 'c': 3, 'd': 4},
    {'a': 100, 'b': 200, 'c': 300, 'd': 400},
    {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000}]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

## Indexing just the rows

In [5]:
type(df.iloc[0])

pandas.core.series.Series

In [8]:
df.iloc[[0]]

   a  b  c  d
0  1  2  3  4

In [13]:
df.iloc[[0,1]]

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

In [17]:
df.iloc[[True, False, True]]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [19]:
filt = lambda x: x.index % 2 == 0
df.iloc[filt]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

## Indexing both axes

In [20]:
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [29]:
df.iloc[0, 1]

np.int64(2)

In [22]:
df.iloc[[0, 2], [1, 3]]

      b     d
0     2     4
2  2000  4000

In [23]:
df.iloc[1:3, 0:3]

      a     b     c
1   100   200   300
2  1000  2000  3000

In [24]:
df.iloc[:, [True, False, True, False]]

      a     c
0     1     3
1   100   300
2  1000  3000

In [27]:
df.iloc[:, lambda df: [0, 2]]

      a     c
0     1     3
1   100   300
2  1000  3000