In [2]:
import pandas as pd
import numpy as np

In [24]:
df = pd.DataFrame(
    {
        'species': ['bear', 'bear', 'marsupial'],
        'population': [1864, 22000, 80000],
         'location': ['Africa', 'US', 'Asia']
    },
index=['panda', 'polar', 'koala'])
df

         species  population location
panda       bear        1864   Africa
polar       bear       22000       US
koala  marsupial       80000     Asia

In [25]:
for label, content in df.items():
    print(f'label: {label}')
    print(f'content: {content}', sep='\n')

label: species
content: panda         bear
polar         bear
koala    marsupial
Name: species, dtype: object
label: population
content: panda     1864
polar    22000
koala    80000
Name: population, dtype: int64
label: location
content: panda    Africa
polar        US
koala      Asia
Name: location, dtype: object

In [26]:
val = df.items()

In [27]:
next(val)  #pull all indexes and first column

('species',
 panda         bear
 polar         bear
 koala    marsupial
 Name: species, dtype: object)

In [28]:
next(val)  #pull all indexes and second column

('population',
 panda     1864
 polar    22000
 koala    80000
 Name: population, dtype: int64)

In [29]:
next(val)  #pull all indexes and second column

('location',
 panda    Africa
 polar        US
 koala      Asia
 Name: location, dtype: object)