In [1]:
import pandas as pd
import numpy as np

In [ ]:
pandas.DataFrame.at_time
DataFrame.at_time(time, asof=False, axis=None)

time : datetime.time or str
       The values to select.
axis  :{0 or ‘index’, 1 or ‘columns’}, default 0

In [2]:
i = pd.date_range('2018-04-09', periods=4, freq='12h')
ts = pd.DataFrame({'A': [1, 2, 3, 4]}, index=i)
ts

                     A
2018-04-09 00:00:00  1
2018-04-09 12:00:00  2
2018-04-10 00:00:00  3
2018-04-10 12:00:00  4

In [3]:
ts.at_time('12:00')

                     A
2018-04-09 12:00:00  2
2018-04-10 12:00:00  4